<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm a software engineer and web developer currently based in San Francisco.</p>
    <p>My passion in life is for creating software that allows people to improve their lifestyle.</p>
    <p>This blog/portfolio was created as a platform to show what my motivations are and what I am currently working on. Also, you can check my <a href="#">Github</a>.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>

    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="data"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <h3><a href="#">Unicasts</a></h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">The Tasio Victoria Community</a></h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">12 in 12 Challenge</h3></a>
    <p class="date">Friday April 10th</p>
  </div>
</div>
